.container {
  padding-top: 200px;
}
.testWrapper {
  border-radius: 20px;
  padding: 20px 0;
  max-width: 600px;
  margin: 0 auto;
  background: #ccdce0;
}
button {
  color: black;
  padding: 5px 10px;
  margin: 0 10px;
  background: rgb(230, 242, 243);
  border-radius: 20px;
  box-shadow: none;
  border: none;
  transition: all 0.5s;
}
.total {
  margin-bottom: 20px;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #86a599;
  border: 0.5px solid rgb(161, 155, 155);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.right {
  color: green;
}

.wrong {
  color: red;
}
